@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
	margin: 0;
	padding: 0;
	font-family: "Montserrat", sans-serif;
  	font-optical-sizing: auto;
 	font-weight: <weight>;
 	font-style: normal;
}
.main{
	width: 100%;
	height: 85vh;
	background-color: #ffffff;
}
.content{
	text-align: center;
	position: relative;
	top: 20%;
}
.main img{
	width: 500px;
	height: 300px;
}
.main h1{
	font-size: 100px;
}
.main p{
	font-size: 50px;
}
